.h3-slider-text {
  font-size: 70px;
  line-height: 1;
}

.header-logo {
  max-width: 155px;
}

.destination_info {
  padding-bottom: 20px;
}

.responsive-image {
  max-width: 100%;
}

.partenaire-logo {
  max-width: 100%;
  max-height: 80px;
}
